<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
	
	<!-- Database connect string key -->
    <add key="DatabaseKey" value="vsdVFSImmediateUpdate_User"/>
    
    <!-- 
    During service start up, the amount of time (in seconds) 
    to wait between DB connect attempts 
    -->
    <add key="CriticalConnectionRetry" value="30"/>
    
    <!-- 
    During service start up, the number of times
    the service will attempt to establish a database connection 
    before shutting down. A value less than 1 (i.e. - zero or negative)
    is an instruction to try indefinitely.
    -->
    <add key="CriticalConnectionRetryMax" value="2"/>
    
    <!-- 
    Performance test mode - doesn't update VFS. Normally, this should be zero (0).
    -->
    <add key="PerformanceTest" value="0"/>
        
    </appSettings>
    
</configuration>
